@import "var";

.card {
    border:solid $primary 1px;
    transition:0.2s;
    padding: 10px;
    *{

        color:black;
        text-decoration: none;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.link{
    text-decoration: underline;
    color:$primary;
    opacity: 0.9;
    word-wrap:break-word;
    &:hover{
        opacity: 1;
    }
}